<!DOCTYPE html>
<html>
  <head>
    <title>VendingMachine</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <p class="navbar-text">Signed in as: <class="navbar-link"><%= current_user.email if !current_user.nil? %></a></p>
        <p class="navbar-right"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "btn btn-default navbar-btn"%></p>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <div class="container">
      <div class="jumbotron">
        <h1>Vendor</h1>
        <p>Which delicious snack will you choose from Vendor?</p>
        <% if !current_user.nil? %>
          <p>Your current balance is:
            £<%= number_with_precision(current_user.balance.to_f / 100, :precision => 2) %>
          </p>
        <% end %>
        <%= link_to 'Insert Coins', coins_path, class: "btn btn-success btn-lg" %>
        <%= link_to 'Restock snacks!', products_restock_path, class: "btn btn-primary btn-lg" %>
        <%= link_to 'Withdraw your coins', withdraw_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
