<!DOCTYPE html>
<html>
<head>
  <title>VendingMachine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !current_user.nil? && current_user.balance.nil? %>
  <p>Your current balance is:
    0.00 pence
  <% end %>
  <% if !current_user.nil? %>
  <p>Your current balance is:
    £<%= number_with_precision(current_user.balance.to_f / 100, :precision => 2) %>
  <% end %>
</p>
  <%= link_to 'Home', root_url %>
  <% flash.each do |name, msg| %>
   <%= content_tag :div, msg, class: "alert" %>
  <% end %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <%= yield %>
</body>
</html>
