<!DOCTYPE html>
<html>
<head>
  <title>VendingMachine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>Your current balance is:
  <% if current_user.balance.nil? %>
    0.00
  <% else %>
    <%= current_user.balance %>
  <% end %>
  pence
</p>
  <%= link_to 'Home', root_url %>
  <% flash.each do |name, msg| %>
   <%= content_tag :div, msg, class: "alert" %>
  <% end %>
  <%= yield %>
</body>
</html>
